numpy
PyYAML
argparse
pims
tqdm
scikit-image
media-processing-lib
natsort
gitpython
gdown
git+https://gitlab.com/neuralwrappers/nwdata.git#egg=nwdata
git+https://gitlab.com/neuralwrappers/nwmodule.git#egg=nwmodule
